<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aws.community.examples.bedrock.mapper.StudentMapper">
    <select id="getStudentInfo" parameterType="java.lang.String" resultType="aws.community.examples.bedrock.dto.StudentDto">
        select A.*
        from students A
       --           left join tutors B on (A.tutor_id = B.tutor_id)
        where 1=1
          AND A.student_id = #{studentId}
    </select>
    <select id="getLogin" parameterType="java.lang.String" resultType="StudentDto">
        select A.*
        from students A
        where 1=1
          AND A.student_id = #{studentId}
    </select>
    <insert id="saveStudent" parameterType="StudentDto">
		insert into students
		( 	  student_id
			, name
			, mbti
			, email
		)
		values(
			  #{studentId}
			, #{name}
			, #{mbti}
			, #{email}
		)
    </insert>
</mapper>
